@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: 'Open Sans', sans-serif;
	color: #333;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #444;
  color: #aaa;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-weight: 200;
	letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: calc(50% - 80px);
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  background-color: #3397DB;
  align-items: center;
}
.filter-options h2 {
  color: white;
  font-weight: normal;
  line-height: 1;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 1%;
  text-align: center;
}
#restaurants-list li {
  background-color: #fff;
  border: 1px solid #ccc;
  text-align: left;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
}
#restaurants-list li h1 {
  color: #f18200;
  font-weight: 200;
  letter-spacing: 0;
  text-transform: uppercase;
}

#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 87%;
  position: fixed;
  right: 0;
  top: 80px;
  width: 50%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  bottom: 0;
  position: absolute;
  width: 50%;
}
#restaurant-name {
  color: #f18200;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 90%;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 90%;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 140px 40px 30px;
  width: 50%;
}
#reviews-container {
  padding: 30px 40px 80px;
}
#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
    border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 20px 20px;
  position: relative;
  width: 85%;
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours td {
  color: #666;
}

.filter-options{ display: flex; flex-wrap: wrap;}
#restaurants-list .img-wrapper { width: 100%}
#restaurants-list li .restaurant-img { height: auto; width: 100%;}
.filter-options select {width: 30%; margin-left: 3.5%;}

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (-webkit-min-device-pixel-ratio: 2) {
		.filter-options h2 { width: 30%; text-align: right; padding: 0 5px; box-sizing: border-box;}
		#restaurants-list li { display: flex; flex-wrap: wrap; }
		#restaurants-list li p { margin: 0}
}

/* Portrait */
@media only screen
and (min-device-width: 320px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
	nav {padding-bottom: 1%}
	nav h1 a {font-size: 0.5em; line-height: 3.1em;}
	#map { height: 240px;}
	.filter-options h2 {font-size:0.8em; line-height: 3.0em;}
	.filter-options select {font-size: 0.8em;}
	#restaurants-list li { margin:2%; padding:3%;}
	#restaurants-list li h1 { font-size: 1.2em; line-height: 1.4em;}
	#restaurants-list li p { font-size: 1em;}
	#restaurants-list li a {font-size: 0.8em; margin: 1.5% 0 0; padding: 2% 3.5%}
	#footer {font-size: 0.55em; letter-spacing: 1px; padding: 3.5%;}
}

/* Landscape */
@media only screen
  and (min-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
		nav { width:100%; height: 10vh}
		#maincontent {width: 100%; display: flex; flex-wrap: wrap; height: 82vh}
		.filter-options h2 { font-size:0.65em; line-height:3.2em;}
		nav h1 a {font-size:  0.65em;}
		#map-container { width: 50%; }
		#map { height: 82vh}
		#results { width: 50%; overflow-y: scroll;}
		#restaurants-list li { margin:2%; padding:3%;}
		#restaurants-list li .img-wrapper { width: 100%}
		#restaurants-list li h1 { font-size: 1em; line-height: 1.4em;}
		#restaurants-list li p { font-size: 0.8em;}
		#restaurants-list li a {font-size: 0.5em; margin: 1.5% 0 0; padding: 2% 3.5%}
		footer {font-size: 0.55em; line-height: 3.6em; height: 8vh}
}

/* Portrait */
@media only screen
  and (min-device-width: 768px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1){
		nav h1 a {font-size: 1em; }
		#map { height: 380px;}
		.filter-options h2 {font-size:1.5em;}
		#restaurants-list {display: flex; flex-wrap: wrap;}
		#restaurants-list li {width:48%; margin: 1%; box-sizing: border-box; }
		#restaurants-list li h1 {font-size: 1.6em;}
		#restaurants-list li  p {font-size: 1.4em}
		#restaurants-list li a {font-size: 1.2em}
		#footer { font-size: 0.8em;}
}

/* Landscape */
@media only screen
  and (min-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {
		nav h1 a {font-size: 1em; line-height: 3.0em}
		.filter-options h2 {font-size:1.2em;}
		#restaurants-list {display: flex; flex-wrap: wrap;}
		#restaurants-list li {width:48%; margin: 1%; box-sizing: border-box; }
		#restaurants-list li h1 {font-size:1.1em;}
		#restaurants-list li p {font-size: 0.9em}
		#restaurants-list li a {font-size: 0.8em;}
		#footer {font-size: 0.8em; line-height: 5.0em}
}

/* Portrait*/
@media only screen
  and (min-device-width: 1366px)
	and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {
		nav h1 a {font-size:1.1em; line-height: 3.6em}
		#footer {line-height: 7.0em}
}

@media screen
  and (min-device-width: 1440px) {
		.filter-options { padding: 0 3.8% }
		#maincontent { max-width: 1280px; margin: 0 auto;}
		nav { width:100%; height: 8vh}
		#maincontent {width: 100%; display: flex; flex-wrap: wrap; height: 87vh}
		.filter-options h2 { font-size:1.2em; line-height:3.2em;}
		nav h1 a {font-size: 1em; line-height: 3.4em}
		#map-container { width: 50%; }
		#map { height: 87vh}
		#results { width: 50%; overflow-y: scroll;}
		::-webkit-scrollbar { display: none;}
		#restaurants-list li {width:98%; margin: 1%; padding: 2%; display: grid;  grid-auto-flow: column; grid-template-columns: 35% 65%;}
		#restaurants-list li .img-wrapper { grid-row: 1/span 2;}
		#restaurants-list li .info-wrapper { padding-left: 1.5%;}
		#restaurants-list li h1 { font-size: 1.4em; line-height: 1.4em;}
		#restaurants-list li p { font-size: 1.2em; line-height: 0.7em}
		#restaurants-list li a { width:auto; font-size: 0.9em; margin: 1.5% 0 0; padding: 2% 3.5%; box-sizing: border-box; }
		footer {font-size: 0.9em; line-height: 3.6em !important; height: 5vh}
}
